@media (max-width: 1199px)
    .row
        margin-left: 0px
    .menu
        &__item
            padding-right: 30px
            &-link
                font-size: 13px
    .promo
        &__header
            font-size: 50px
        &__subheader
            font-size: 32px
    .mobile
        &__item
            &-subtitle
                font-size: 20px
            &-plus
                bottom: 66px
    .footer
        &__mobile
            display: flex
            flex-direction: row
            justify-content: flex-end
@media (max-width: 991px)
    .menu
        &__item
            padding: 0 10px
            &-link
                font-size: 11px
    .subheader
        &__official
            font-size: 11px
        &__phone
            font-size: 19px
        &__btn
            font-size: 13px
    .promo
        &__header
            font-size: 38px
        &__subheader
            font-size: 24px
    .benefits
        .title
            font-size: 36px
            padding-bottom: 20px
        &__row
            margin-top: 10px
        &__block
            margin-bottom: 20px
    .mobile
        min-height: 820px
        padding-bottom: 0
        &__item
            height: 240px
            &-subtitle
                font-size: 16px
                top: 50px
                line-height: 24px
            &-plus
                bottom: 90px    
    .footer
        &__menu--item-link
            font-size: 11px
        &__menu-second
            padding: 0 15px
        &__menu--item-link-second
            font-size: 9px

@media (max-width: 767px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: space-around
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0, 0, 0, .8)
        transition: 0.6s all
        &__active
            left: 0
        &__item
            padding-right: 0
            border: 0
            &-link
                font-size: 20px
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 3px
            transition: 0.6s all
        &__active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(5px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(5px) rotate(45deg)
    .xs-hidden
        display: none
    .xs-visible
        display: block
    .subheader
        &__phone
            display: block
            margin-top: 12px
            color: #fff
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
            text-align: center
        &__btn
            display: block
            width: 200px
            height: 40px
            margin: 0 auto
            margin-top: 8px
    .promo
        padding-bottom: 100px
        &__header
            line-height: 46px
            font-size: 34px
        &__subheader
            font-size: 22px
        &__description
            font-size: 16px
    .benefits
        &__title
            text-align: center
        &__text
            text-align: justify
    .opportunities
        .title
            font-size: 34px
        .subtitle
            font-size: 16px
    .footer
        &__wrapper
            display: block
            margin: auto
            &-center
                margin: 0 auto
                margin-bottom: 20px
        &__wrapper > div
            &:nth-child(1)
                width: 100%
                display: flex
                justify-content: center
            &:nth-child(2)
                width: 100%
            &:nth-child(3)
                display: flex
                justify-content: center
                width: 100%
        &__mobile
            margin-top: 20px
@media (max-width: 575px)
    .menu
        background-color: rgba(0, 0, 0, .95)
        &__item
            &-link
                font-size: 16px