@media (max-width: 1199px)
    .menu
        &__item
            padding-right: 30px
            &-link
                font-size: 13px
    .promo
        &__header
            font-size: 50px
        &__subheader
            font-size: 32px
    .mobile
        &__item
            &-subtitle
                font-size: 20px
            &-plus
                bottom: 66px
    .footer
        &__mobile
            display: flex
            flex-direction: row
            justify-content: flex-end
@media (max-width: 992px)
    